
/*Etiquetas*/

/*parte del banner*/

#contenidos{
	width: 1100px;
	height: auto;
	margin: auto;
	position: relative;
	}

body{
	background-color: #DCDCDC;
	
}

h1, h2{
	font-family: "Arial";
	text-align: center;
	color: #a63a00;
}
h1{
	font-size: 24pt;		
}
h2
{
	font-size: 18pt;
}

header{
	margin: 1em;
	background: #ff8240;
	border-radius: 80px 20px 80px 20px;
	padding: 1em;
	color: #a63A00;
	box-shadow: 0 0 80px #a63A00 inset;
}

nav ul li a:hover
{
	color: white;
	font-size: 16pt;	
}
nav ul li a{
	color: white;
	text-decoration: none;
}

nav ul li{
	border:  4px solid #a63A00;
	border-radius: 30px 10px 30px 10px;
	background: #ffa473;
	text-decoration: #ffa473;
}

nav li{
	float: left;
	list-style-type: none;
	background: #a63A00;
	padding: 1em;
	margin: 10px;
	box-shadow: 0 0 30px #a63A00 inset;	
}

img{
	margin: 2em;
	box-shadow: 0 0 30px #a63A00 inset;	
	
}

nav ul:after
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#logotipo{
	float: left;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);

}

section{
	width: 60%;
	background: #f2b80d;
	height: 850px;
	float: left;
	margin-top: 1em;
	padding: 2em;
	border-radius: 120px 40px 120px 40px;
	box-shadow: 0 0 160px #ff5900 inset;
	color: #006080;
	text-align: justify;
}

aside{
	width: 25%;
	background: #f2b80d;
	height: 850px;
	float: right;
	margin-top: 1em;
	padding: 2em;
	border-radius: 120px 40px 120px 40px;
	box-shadow: 0 0 100px #ff5900 inset;
	color: #006080;
	text-decoration: none;
	text-align: justify;

}

footer{
	width: 1000px;
	height: auto;
	float: left;
	margin: 2em;
	background: #ff8240;
	border-radius: 80px 20px 80px 20px;
	padding: 1em;
	color: #a63A00;
	box-shadow: 0 0 40px #a63A00 inset;
	position: relative;
	left: 50%;
	transform: translate(-55%, 0);
}

	





